@charset "utf-8";

* {
	margin: 0px;
	padding: 0px;
}

ol,
ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #333;
}


img {
	border: 0px;
}

    @font-face{
    font-family:"NanumGothic";
    /*src:lacal('NanumGothic'),
    url('http://http://finedesign.dothome.co.kr/font/NanumGothic.eot')
    url('http://http://finedesign.dothome.co.kr/font/NanumGothic.ttf')
    url('http://http://finedesign.dothome.co.kr/font/NanumGothic.woff')*/
}
    
        body{
            font-family: "NanumGothic";
        }